<div class="detail-container">
  <img class="img" src="{{this.product.url}}" alt="{{ this.product.name }}" />
  <div class="detail-item">
      <h1 class="header">{{ this.product.name }}</h1>
      <h3>$ {{ this.product.price }}</h3>

      <div class="input-group select-input">
        <select class="custom-select" [(ngModel)]="amount" (change)="onChangeAmount($event)">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
      </div>

      <div>
        <button type="button" class="btn btn-primary" (click)="addProductToCart()">
          <i class="fas fa-cart-plus"></i> Add to cart
        </button>
      </div>

      <div class="mt-3">
        <a routerLink=""><i class="fas fa-arrow-left"></i> Back to product list</a>
      </div>
  </div>
</div>
