img {
  border-radius: 10px;
  width: 320px;
  box-shadow: 10px 10px 10px gray;
}

.select-input {
  width: 108px !important;
  margin-bottom: 8px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.detail-item {
  margin-left: 128px;
  margin-right: 128px;
}

.back-link {
  margin-top: 8px;
}
